In [2]:
import pandas as pd
import numpy as np

# read all csv
appearances_df = pd.read_csv('data/appearances.csv')
games_df = pd.read_csv('data/games.csv')
players_df = pd.read_csv('data/players.csv', encoding='ISO-8859-1')
leagues_df = pd.read_csv('data/leagues.csv')
shots_df = pd.read_csv('data/shots.csv')
teams_df = pd.read_csv('data/teams.csv')
teamstats_df = pd.read_csv('data/teamstats.csv')

In [12]:
# ALL TIME SCORES
goals_df = appearances_df.groupby('playerID').sum().sort_values('goals', ascending=False)[['goals']]
top_scorers = players_df.join(goals_df, on='playerID').sort_values('goals', ascending=False)[['playerID', 'name', 'goals']]
top_scorers.head(10)

      playerID                       name  goals
2034      2097               Lionel Messi  231.0
2061      2371          Cristiano Ronaldo  215.0
1352       227         Robert Lewandowski  203.0
2035      2098                Luis Suárez  168.0
24         647                 Harry Kane  163.0
1512       318  Pierre-Emerick Aubameyang  149.0
1149      1209              Ciro Immobile  133.0
2524      3294             Edinson Cavani  132.0
275        619              Sergio Agüero  132.0
696       1250              Mohamed Salah  130.0

In [16]:
# ASSOCIATION BETWEEN GOALS AND XGOALS
goals_df = appearances_df.groupby('playerID').sum()[['goals', 'xGoals']]
top_scorers = players_df.join(goals_df, on='playerID')[['playerID', 'name', 'goals', 'xGoals']]
top_scorers.sort_values('goals', ascending=False).head(10)

      playerID                       name  goals      xGoals
2034      2097               Lionel Messi  231.0  192.348809
2061      2371          Cristiano Ronaldo  215.0  209.904609
1352       227         Robert Lewandowski  203.0  200.595486
2035      2098                Luis Suárez  168.0  155.725532
24         647                 Harry Kane  163.0  138.163675
1512       318  Pierre-Emerick Aubameyang  149.0  150.912268
1149      1209              Ciro Immobile  133.0  120.232173
2524      3294             Edinson Cavani  132.0  136.801071
275        619              Sergio Agüero  132.0  125.811742
696       1250              Mohamed Salah  130.0  114.949030

In [17]:
# TOP ASSISTS ALL TIME
assists_df = appearances_df.groupby('playerID').sum().sort_values('assists', ascending=False)[['assists']]
top_assists = players_df.join(assists_df, on='playerID').sort_values('assists', ascending=False)[['playerID', 'name', 'assists']]
top_assists.head(10)

      playerID               name  assists
360        447    Kevin De Bruyne     97.0
2034      2097       Lionel Messi     97.0
1350       224      Thomas Müller     87.0
2853      3553     Ángel Di María     75.0
2035      2098        Luis Suárez     72.0
217        536      Dimitri Payet     70.0
2150      2099             Neymar     61.0
270        617        David Silva     59.0
856       1491    Alejandro Gomez     59.0
22         646  Christian Eriksen     56.0

In [18]:
# TOP KEY PASSER
key_passes_df = appearances_df.groupby('playerID').sum().sort_values('keyPasses', ascending=False)[['keyPasses']]
top_key_passers = players_df.join(key_passes_df, on='playerID').sort_values('keyPasses', ascending=False)[['playerID', 'name', 'keyPasses']]
top_key_passers.head(10)

      playerID               name  keyPasses
217        536      Dimitri Payet      716.0
360        447    Kevin De Bruyne      650.0
2034      2097       Lionel Messi      596.0
22         646  Christian Eriksen      554.0
856       1491    Alejandro Gomez      527.0
1378       189   Hakan Calhanoglu      504.0
2853      3553     Ángel Di María      484.0
202        499         Mesut Özil      481.0
827       1393    Lorenzo Insigne      480.0
148        701        Eden Hazard      463.0

In [19]:
# BEST OFFENSIVE PLAYER
goal_assist_df = appearances_df.groupby('playerID').sum()[['goals', 'assists']]
goal_assist_df['G/A'] = goal_assist_df['goals'] + goal_assist_df['assists']
top_offensive_players = players_df.join(goal_assist_df, on='playerID')[['playerID', 'name', 'G/A']]
top_offensive_players.sort_values('G/A', ascending=False).head(10)

      playerID                       name    G/A
2034      2097               Lionel Messi  328.0
2061      2371          Cristiano Ronaldo  269.0
2035      2098                Luis Suárez  240.0
1352       227         Robert Lewandowski  235.0
24         647                 Harry Kane  197.0
696       1250              Mohamed Salah  183.0
1512       318  Pierre-Emerick Aubameyang  180.0
2150      2099                     Neymar  175.0
2160      2370              Karim Benzema  175.0
1149      1209              Ciro Immobile  169.0